<article>
    <p>
        Welcome to our bakery website! We are passionate about baking delicious treats for you to enjoy.
        Our bakery was established in 2002 and since then, we have been dedicated to providing high-quality baked goods.
        We believe in using the finest ingredients and traditional baking techniques to create mouthwatering treats.
    </p>
    <aside style="
        float: right;
        width: 30%;
        border-left: 3px solid #777777;
        padding-left: 10px;
        margin-left: 10px;
    ">
        <p>
            Don't miss out on our special offer! Get a free cupcake with every purchase of a cake.
        </p>
    </aside>
    <p>
        At our bakery, we offer a wide range of baked goods, including cakes, pastries, bread, and cookies.
        Whether you're celebrating a special occasion or simply craving something sweet, we have something for everyone.
        Visit our bakery today and indulge in the irresistible flavors of our freshly baked treats.
    </p>
</article>