<article style="padding: 20px">
    <p style="margin: 0">
        The first website was published on August 6, 1991.
        It was dedicated to information on the World Wide Web project and was made by Tim Berners-Lee.
        It created a new way to access the Internet and was the beginning of the web as we know it today.
    </p>
    <aside style="
        float: right;
        width: 30%;
        border-left: 3px solid #777777;
        padding-left: 10px;
        margin-left: 10px;
    ">
        <p>
            The only computer that is not vulnerable to malware is one that is turned off.
        </p>
    </aside>
    <p>
        Although the World Wide Web has tremendous benefits, it has also given rise to malware.
        Malware is software that is intended to damage or disable computers and computer systems.
        It can be spread through email attachments, infected websites, and other means.
    </p>
</article>