<div
    style="
        box-sizing: border-box;
        padding: 10px;
        border-left: 5px solid #333333;
        background-color: #EFEFEF;
    "
>
    <blockquote
        style="margin: 0"
        cite="https://www.goodreads.com/quotes/8136447-if-your-dreams-don-t-scare-you-they-aren-t-big-enough"
    >
        <p
            style="
                margin: 0;
                margin-bottom: 0.5em;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-style: italic;
            "
        >
            <span style="font-size: 5rem; float: right;">‟</span>
            If your dreams don't scare you, they aren't big enough.
        </p>
    </blockquote>
    <p
        style="
            margin: 0;
            font-family: 'Arial', sans-serif;
            font-size: 0.8rem;
        "
    >
        — Muhammad Ali
    </p>
</div>