<table
    style="
        border: 1px solid #000000;
        border-collapse: collapse;
        border-spacing: 0;
    "
>
    <caption>
        Customer Information
    </caption>
    <tr>
        <th
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            Name
        </th>
        <th
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            Email
        </th>
    </tr>
    <tr>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            John Doe
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            john.doe@example.com
        </td>
    </tr>
    <tr>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            Jane Doe
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            jane.doe@example.com
        </td>
    </tr>
</table>
