<table
    style="
        border: 1px solid #000000;
        border-collapse: collapse;
        border-spacing: 0;
    "
>
    <style>
        .contact {
            background-color: #EFEFEF;
        }
    </style>
    <colgroup>
        <col>
        <col>
        <col span="2" class="contact">
    </colgroup>
    <tr>
        <td></td>
        <th
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
            scope="col"
        >
            Name
        </th>
        <th
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
            scope="col"
        >
            Email
        </th>
        <th
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
            scope="col"
        >
            Phone
        </th>
    </tr>
    <tr>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            1
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            John Doe
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            john.doe@example.com
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            123-456-7890
        </td>
    </tr>
    <tr>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            2
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            Jane Doe
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            jane.doe@example.com
        </td>
        <td
            style="
                border: 1px solid #000000;
                padding: 3px 6px;
            "
        >
            987-654-3210
        </td>
    </tr>
</table>
