<div>
    <style>
        h1, h2, h3, h4, h5, h6 { margin: 0.1rem 0; }
        h1 { font-size: 2rem; }
        h2 { font-size: 1.5rem; padding-left: 20px; }
        h3 { font-size: 1.2rem; padding-left: 40px; }
        h4 { font-size: 1rem; padding-left: 60px; }
        h5 { font-size: 0.8rem; padding-left: 80px; }
        h6 { font-size: 0.6rem; padding-left: 100px; }
    </style>
    <h1>The Science Behind Baking</h1>
    <h2>Our Kitchen</h2>
    <h3>What to Prepare</h3>
    <h4>Choose Your First Oven</h4>
    <h5>Why Expensive Ovens Aren't Always the Best</h5>
    <h6>What Oven Manufacturers Don't Want You to Know</h6>
</div>