<fieldset
    style="
        border: 0;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        box-sizing: border-box;
    "
>
    <label
        style="
            display: block;
            margin-bottom: 5px;
        "
    >
        What do you want to order?
    </label>
    <input
        style="
            box-sizing: border-box;
            width: 100%;
            display: block;
            padding: 8px;
            border: 1px solid #000000;
            border-radius: 5px;
        "
        name="bread"
        placeholder="Type your order"
    />
</fieldset>