<fieldset
    style="
        border: 1px solid #000000;
        margin: 0;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
    "
>
    <legend
        style="
            padding: 3px 6px;
            background-color: #EFEFEF;
            border: 1px solid #000000;
            border-radius: 5px;
        "
    >
        What do you want to order?
    </legend>

    <fieldset
        style="
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 20px;
        "
    >
        <label
            style="
                display: block;
                margin-bottom: 5px;
            "
        >
            Product name
        </label>
        <input
            style="
                box-sizing: border-box;
                width: 100%;
                display: block;
                padding: 8px;
                border: 1px solid #000000;
                border-radius: 5px;
            "
            name="bread"
            placeholder="Type your order"
        />
    </fieldset>

    <fieldset
        style="
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            box-sizing: border-box;
        "
    >
        <label
            style="
                display: block;
                margin-bottom: 5px;
            "
        >
            Qty
        </label>
        <input
            style="
                box-sizing: border-box;
                width: 100%;
                display: block;
                padding: 8px;
                border: 1px solid #000000;
                border-radius: 5px;
            "
            name="bread"
            type="number"
            placeholder="0"
            min="0"
        />
    </fieldset>
</fieldset>