<main style="padding: 20px">
    <p style="margin-top: 0">
        It's a beautiful day to order some bread!
        We've done our best to make the ordering process as simple as possible.
        Now you can order your favorite bread with just a few clicks.
    </p>

    <h2>
        Why order from us?
    </h2>

    <p>
        Here are some reasons why you should order from us:
    </p>

    <ul style="margin-bottom: 0"></ul>
        <li>We always make sure to provide the best quality bread.</li>
        <li>Our bread is always fresh and delicious.</li>
        <li>We offer a wide variety of bread to choose from.</li>
        <li>Our prices are affordable and competitive.</li>
        <li>We provide excellent customer service.</li>
        <li>We deliver your order right to your doorstep.</li>
    </ul>
</main>