<nav style="padding: 20px">
    <ul
        style="
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 10px;
        "
    >
        <li>
            <a
                href="#"
                style="
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                "
            >
                Home
            </a>
        </li>
        <li>
            <a
                href="#"
                style="
                    text-decoration: none;
                    color: black;
                "
            >
                Popular
            </a>
        </li>
        <li>
            <a
                href="#"
                style="
                    text-decoration: none;
                    color: black;
                "
            >
                Newest
            </a>
        </li>
        <li>
            <a
                href="#"
                style="
                    text-decoration: none;
                    color: black;
                "
            >
                All Breads
            </a>
        </li>
    </ul>
</nav>