<fieldset
    style="
        border: 0;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        box-sizing: border-box;
    "
>
    <label
        style="
            display: block;
            margin-bottom: 5px;
        "
    >
        What do you want to order?
    </label>
    <select
        style="
            box-sizing: border-box;
            width: 100%;
            display: block;
            padding: 8px;
            border: 1px solid #000000;
            border-radius: 5px;
            appearance: none;
            background-image:
                linear-gradient(45deg, transparent 50%, black 50%),
                linear-gradient(135deg, black 50%, transparent 50%);
            background-position:
                calc(100% - 13px) 1em,
                calc(100% - 8px) 1em;
            background-size:
                5px 5px,
                5px 5px;
            background-repeat: no-repeat;
        "
    >
        <option>White bread</option>
        <option>Whole wheat bread</option>
        <option>Rye bread</option>
        <option>Sourdough bread</option>
        <option>Multi-grain bread</option>
        <option>Gluten-free bread</option>
    </select>
</fieldset>