<search style="padding: 20px">
    <form>
        <input
            style="
                box-sizing: border-box;
                padding: 8px;
                border: 1px solid #000000;
                border-radius: 5px;
            "
            type="search"
            name="q"
            placeholder="Search your favorite..."
        />
        <button
            style="
                background-color: black;
                color: white;
                padding: 10px 16px;
                border: none;
                border-radius: 5px;
            "
            type="submit"
        >
            Search
        </button>
    </form>
</search>