<table
    style="
        border: 1px solid #000000;
        border-collapse: collapse;
        border-spacing: 0;
    "
>
    <thead>
        <tr>
            <th
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
                scope="col"
            >
                Items
            </th>
            <th
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
                scope="col"
            >
                Expenditure
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                Flour
            </td>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                $5.00
            </td>
        </tr>
        <tr>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                Yeast
            </td>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                $3.00
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                Total
            </td>
            <td
                style="
                    border: 1px solid #000000;
                    padding: 3px 6px;
                "
            >
                $8.00
            </td>
        </tr>
    </tfoot>
</table>
