<div>
    <p>
        The temperature-dependent yeast growth rate constant is described by Arrhenius' equation:
    </p>
    <p>
        <var>k</var> = <var>A</var><var>e</var><sup>(-<var>E</var>/<var>R</var><var>T</var>)</sup>
    </p>
    <p>
        where:
    </p>
    <ul>
        <li><var>k</var> represents the growth rate constant</li>
        <li><var>A</var> is known as the pre-exponential factor</li>
        <li><var>E</var> denotes the activation energy</li>
        <li><var>R</var> is the universal gas constant</li>
        <li><var>T</var> represents the temperature</li>
    </ul>
</div>