<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="style.css">
</head>
<body
    style="
        display: flex;
        flex-direction: column;
        align-items: start;
    "
>
    <div
        style="
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
        "
    >
        <h1 style="margin: 0;">
            Heading
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores nobis nemo rerum qui nostrum placeat tempore vel ipsam magni corporis quidem ex optio non in accusantium porro, fuga voluptates!
        </p>
        <button
            style="
                background-color: black;
                color: white;
                padding: 10px 16px;
                border: none;
                border-radius: 5px;
            "
        >
            Button
        </button>
        <a
            href="https://example.com"
            style="margin: 10px 0;"
        >
            Go to example.com
        </a>
    </div>
    <script src="script.js"></script>
</body>
</html>