:root {
    --uwcolor-base: lch(100% 0 0);

    --uwcolor-gray-100: lch(90% 0 0);
    --uwcolor-gray-150: lch(80% 0 0);
    --uwcolor-gray-200: lch(70% 0 0);
    --uwcolor-gray-250: lch(60% 0 0);
    --uwcolor-gray-300: lch(50% 0 0);
    --uwcolor-gray-350: lch(40% 0 0);
    --uwcolor-gray-400: lch(30% 0 0);
    --uwcolor-gray-450: lch(20% 0 0);
    --uwcolor-gray-500: lch(15% 0 0);
    --uwcolor-gray-550: lch(12% 0 0);
    --uwcolor-gray-600: lch(10% 0 0);
    --uwcolor-gray-650: lch(8% 0 0);
    --uwcolor-gray-700: lch(6% 0 0);
    --uwcolor-gray-750: lch(4% 0 0);
    --uwcolor-gray-800: lch(2% 0 0);
    --uwcolor-gray-850: lch(1% 0 0);
    --uwcolor-gray-900: lch(0% 0 0);

    --uwcolor-blue-100: lch(90% 80 240);
    --uwcolor-blue-150: lch(80% 80 240);
    --uwcolor-blue-200: lch(70% 80 240);
    --uwcolor-blue-250: lch(60% 80 240);
    --uwcolor-blue-300: lch(50% 80 240);
    --uwcolor-blue-350: lch(40% 80 240);
    --uwcolor-blue-400: lch(30% 80 240);
    --uwcolor-blue-450: lch(20% 80 240);
    --uwcolor-blue-500: lch(15% 80 240);
    --uwcolor-blue-550: lch(12% 80 240);
    --uwcolor-blue-600: lch(10% 80 240);
    --uwcolor-blue-650: lch(8% 80 240);
    --uwcolor-blue-700: lch(6% 80 240);
    --uwcolor-blue-750: lch(4% 80 240);
    --uwcolor-blue-800: lch(2% 80 240);
    --uwcolor-blue-850: lch(1% 80 240);
    --uwcolor-blue-900: lch(0% 80 240);

    --uwcolor-purple-100: lch(90% 80 300);
    --uwcolor-purple-150: lch(80% 80 300);
    --uwcolor-purple-200: lch(70% 80 300);
    --uwcolor-purple-250: lch(60% 80 300);
    --uwcolor-purple-300: lch(50% 80 300);
    --uwcolor-purple-350: lch(40% 80 300);
    --uwcolor-purple-400: lch(30% 80 300);
    --uwcolor-purple-450: lch(20% 80 300);
    --uwcolor-purple-500: lch(15% 80 300);
    --uwcolor-purple-550: lch(12% 80 300);
    --uwcolor-purple-600: lch(10% 80 300);
    --uwcolor-purple-650: lch(8% 80 300);
    --uwcolor-purple-700: lch(6% 80 300);
    --uwcolor-purple-750: lch(4% 80 300);
    --uwcolor-purple-800: lch(2% 80 300);
    --uwcolor-purple-850: lch(1% 80 300);
    --uwcolor-purple-900: lch(0% 80 300);

    --uwcolor-green-100: lch(90% 80 120);
    --uwcolor-green-150: lch(80% 80 120);
    --uwcolor-green-200: lch(70% 80 120);
    --uwcolor-green-250: lch(60% 80 120);
    --uwcolor-green-300: lch(50% 80 120);
    --uwcolor-green-350: lch(40% 80 120);
    --uwcolor-green-400: lch(30% 80 120);
    --uwcolor-green-450: lch(20% 80 120);
    --uwcolor-green-500: lch(15% 80 120);
    --uwcolor-green-550: lch(12% 80 120);
    --uwcolor-green-600: lch(10% 80 120);
    --uwcolor-green-650: lch(8% 80 120);
    --uwcolor-green-700: lch(6% 80 120);
    --uwcolor-green-750: lch(4% 80 120);
    --uwcolor-green-800: lch(2% 80 120);
    --uwcolor-green-850: lch(1% 80 120);
    --uwcolor-green-900: lch(0% 80 120);

    --uwcolor-orange-100: lch(90% 80 60);
    --uwcolor-orange-150: lch(80% 80 60);
    --uwcolor-orange-200: lch(70% 80 60);
    --uwcolor-orange-250: lch(60% 80 60);
    --uwcolor-orange-300: lch(50% 80 60);
    --uwcolor-orange-350: lch(40% 80 60);
    --uwcolor-orange-400: lch(30% 80 60);
    --uwcolor-orange-450: lch(20% 80 60);
    --uwcolor-orange-500: lch(15% 80 60);
    --uwcolor-orange-550: lch(12% 80 60);
    --uwcolor-orange-600: lch(10% 80 60);
    --uwcolor-orange-650: lch(8% 80 60);
    --uwcolor-orange-700: lch(6% 80 60);
    --uwcolor-orange-750: lch(4% 80 60);
    --uwcolor-orange-800: lch(2% 80 60);
    --uwcolor-orange-850: lch(1% 80 60);
    --uwcolor-orange-900: lch(0% 80 60);

    --uwcolor-red-100: lch(90% 80 30);
    --uwcolor-red-150: lch(80% 80 30);
    --uwcolor-red-200: lch(70% 80 30);
    --uwcolor-red-250: lch(60% 80 30);
    --uwcolor-red-300: lch(50% 80 30);
    --uwcolor-red-350: lch(40% 80 30);
    --uwcolor-red-400: lch(30% 80 30);
    --uwcolor-red-450: lch(20% 80 30);
    --uwcolor-red-500: lch(15% 80 30);
    --uwcolor-red-550: lch(12% 80 30);
    --uwcolor-red-600: lch(10% 80 30);
    --uwcolor-red-650: lch(8% 80 30);
    --uwcolor-red-700: lch(6% 80 30);
    --uwcolor-red-750: lch(4% 80 30);
    --uwcolor-red-800: lch(2% 80 30);
    --uwcolor-red-850: lch(1% 80 30);
    --uwcolor-red-900: lch(0% 80 30);
}