.icon-unwebber { mask: url('./icons/unwebber.svg'); }
.icon-box { mask: url('./icons/box.svg'); }
.icon-check { mask: url('./icons/check.svg'); }
.icon-chevron-down { mask: url('./icons/chevron-down.svg'); }
.icon-chevrons-right { mask: url('./icons/chevrons-right.svg'); }
.icon-code { mask: url('./icons/code.svg'); }
.icon-git-branch { mask: url('./icons/git-branch.svg'); }
.icon-monitor { mask: url('./icons/monitor.svg'); }
.icon-mouse-pointer { mask: url('./icons/mouse-pointer.svg'); }
.icon-pen-tool { mask: url('./icons/pen-tool.svg'); }
.icon-play { mask: url('./icons/play.svg'); }
.icon-settings { mask: url('./icons/settings.svg'); }
.icon-save { mask: url('./icons/save.svg'); }
.icon-square { mask: url('./icons/square.svg'); }
.icon-type { mask: url('./icons/type.svg'); }
.icon-cut { mask: url('./icons/scissors.svg'); }
.icon-copy { mask: url('./icons/copy.svg'); }
.icon-paste { mask: url('./icons/clipboard.svg'); }
.icon-delete { mask: url('./icons/trash.svg'); }
.icon-edit { mask: url('./icons/edit-2.svg'); }
.icon-maximize { mask: url('./icons/maximize-2.svg'); }
.icon-minimize { mask: url('./icons/minimize-2.svg'); }
.icon-plus { mask: url('./icons/plus.svg'); }
.icon-minus { mask: url('./icons/minus.svg'); }
.icon-eye { mask: url('./icons/eye.svg'); }
.icon-eye-off { mask: url('./icons/eye-off.svg'); }
.icon-dot { mask: url('./icons/dot.svg'); }

.icon-blank { background: none !important; }
.icon-move-to-bottom { background-image: url('./icons/move-to-bottom.svg'); }
.icon-move-down { background-image: url('./icons/move-down.svg'); }
.icon-move-up { background-image: url('./icons/move-up.svg'); }
.icon-move-to-top { background-image: url('./icons/move-to-top.svg'); }
.icon-align-left { background-image: url('./icons/align-left.svg'); }
.icon-align-center { background-image: url('./icons/align-center.svg'); }
.icon-align-right { background-image: url('./icons/align-right.svg'); }
.icon-align-top { background-image: url('./icons/align-top.svg'); }
.icon-align-middle { background-image: url('./icons/align-middle.svg'); }
.icon-align-bottom { background-image: url('./icons/align-bottom.svg'); }
.icon-flip-horizontal { background-image: url('./icons/flip-horizontal.svg'); }
.icon-flip-vertical { background-image: url('./icons/flip-vertical.svg'); }
.icon-rotate-left { background-image: url('./icons/rotate-left.svg'); }
.icon-rotate-right { background-image: url('./icons/rotate-right.svg'); }
.icon-toggle-snapping { background-image: url('./icons/toggle-snapping.svg'); }
.icon-toggle-grid { background-image: url('./icons/toggle-grid.svg'); }
.icon-toggle-margin { background-image: url('./icons/toggle-margin.svg'); }