:root {
    --color-base: #FFFFFF;
    --color-gray: #333333;
    --color-blue: #0099ff;
    --color-dark-blue: #0066cc;
    --color-green: #89d185;
    --color-dark-green: #16825d;
    --color-orange: #CC6633;

    --color-primary: #252525;
    --color-secondary: #111111;
    --color-ternary: #1C1C1C;

    --padding-main-topbar: 12px;

    --height-main-topbar: 36px;
    --height-main-bottombar: 200px;
    --height-main-statusbar: 25px;

    --width-main-sidebar: 250px;

    --border-size: 1px;

    --default-border: var(--border-size) solid var(--color-secondary);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);
}

.hidden {
    display: none !important;
}

.scrollable {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-corner {
        background: var(--color-primary);
        border-left: var(--default-border);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray);
        border: 4px solid var(--color-primary);
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-primary);
    }
}

.main-topbar__container {
    top: env(titlebar-area-y, 0);
    height: var(--height-main-topbar);
    width: 100%;

    display: flex;
    position: absolute;

    border-bottom: var(--default-border);

    .main-topbar {
        height: 100%;
        width: env(titlebar-area-width, 100%);
        left: env(titlebar-area-x, 0);

        font-size: 10pt;
        font-weight: 500;
        text-align: center;

        color: var(--color-base);
        background-color: var(--color-primary);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        -webkit-app-region: drag;
        -webkit-user-select: none;
        app-region: drag;
        user-select: none;

        button {
            padding: 0 var(--padding-main-topbar);

            display: flex;
            align-items: center;

            border: 0;
            background-color: transparent;

            app-region: no-drag;
            -webkit-app-region: no-drag;

            &:hover {
                background: var(--color-gray);
            }

            &.selected {
                margin: 5px 0;
                border-radius: 20px;
                background: linear-gradient(135deg, var(--color-blue), var(--color-dark-blue));

                &:hover {
                    background: var(--color-blue);
                }
            }

            .icon {
                height: 16px;
                width: 16px;

                background: var(--color-base);
                mask-size: cover;

                pointer-events: none;
            }
        }

        .titlebar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            pointer-events: none;
        }

        .left-toolbar,
        .right-toolbar {
            display: flex;
            flex-direction: row;
        }

        #application-menu-button .application-logo {
            height: 24px;
            width: 24px;
        }
    }
}

.main-content__container {
    position: absolute;
    top: calc(var(--height-main-topbar) + var(--border-size));
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    .main-content {
        flex: 1;

        display: flex;
        flex-direction: row;

        overflow-y: hidden;

        .main-panel {
            flex: 1;

            display: flex;
            flex-direction: column;

            .main-canvas__container {
                position: relative;

                flex: 1;
                display: flex;
                background-color: var(--color-base);

                .main-canvas__overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                .main-canvas {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    border: 0;
                }
            }

            .main-bottombar {
                max-height: var(--height-main-bottombar);
                border-top: var(--default-border);
            }
        }

        .main-sidebar__left,
        .main-sidebar__right {
            width: var(--width-main-sidebar);

            display: flex;
            flex-direction: column;

            background-color: var(--color-primary);

            overflow-x: hidden;
        }

        .main-sidebar__left {
            border-right: var(--default-border);
        }

        .main-sidebar__right {
            border-left: var(--default-border);
        }

        .main-sidebar__panel,
        .main-bottombar__panel {
            display: flex;
            flex-direction: column;

            transition: all 0.15s;

            &.expanded {
                flex: 1;
            }

            .header {
                box-sizing: border-box;
                height: 30px;
                width: 100%;
                padding: 8px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                font-size: 12px;
                font-weight: 400;

                color: var(--color-base);
                background-color: var(--color-primary);
                border: 0;

                -webkit-user-select: none;
                user-select: none;

                position: sticky;
                top: 0;
                z-index: 1;

                &:hover {
                    background-color: var(--color-gray);
                }

                &.expanded {
                    .icon-chevron-down {
                        transform: rotate(180deg);
                    }
                }

                .icon {
                    margin-right: -4px;
                    height: 16px;
                    width: 16px;

                    background: var(--color-base);
                    mask-size: cover;

                    pointer-events: none;
                }
            }

            .content__container {
                padding: 8px;

                display: none;

                font-size: 12px;
                font-weight: 400;

                color: var(--color-base);
                background-color: var(--color-primary);

                -webkit-user-select: none;
                user-select: none;

                &.expanded {
                    flex: 1;

                    height: fit-content;

                    display: flex;
                    flex-direction: column;

                    /* border-top: var(--default-border); */
                }
            }

            &:not(:first-child) .header {
                border-top: var(--default-border);
            }
        }
    }

    .main-statusbar {
        box-sizing: border-box;
        height: var(--height-main-statusbar);
        padding: 0 8px;
        padding-bottom: 2px;

        display: flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-base);
        font-size: 11px;
        font-weight: 400;
        background-color: var(--color-dark-green);

        overflow: hidden;

        -webkit-user-select: none;
        user-select: none;

        &.preview {
            background-color: var(--color-orange);
        }
    }
}

/* Icons */
.icon-unwebber { mask: url('../../res/icons/unwebber.svg'); }
.icon-chevron-down { mask: url('../../res/icons/chevron-down.svg'); }
.icon-mouse-pointer { mask: url('../../res/icons/mouse-pointer.svg'); }
.icon-code { mask: url('../../res/icons/code.svg'); }
.icon-play { mask: url('../../res/icons/play.svg'); }
.icon-monitor { mask: url('../../res/icons/monitor.svg'); }
.icon-git-branch { mask: url('../../res/icons/git-branch.svg'); }
.icon-settings { mask: url('../../res/icons/settings.svg'); }