@font-face {
    font-family: 'Inter';
    src: url('../../res/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
    --color-base: #FFFFFF;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #E5E5E5;
    --color-gray-300: #999999;
    --color-gray-350: #7F7F7F;
    --color-gray-375: #5C5C5C;
    --color-gray-400: #555555;
    --color-gray-450: #4D4D4D;
    --color-gray-475: #3A3A3A;
    --color-gray: #333333;
    --color-gray-600: #252525;
    --color-gray-700: #1C1C1C;
    --color-gray-800: #111111;
    --color-gray-900: #000000;
    --color-blue-400: #66CCFF;
    --color-blue-475: #4D9EFF;
    --color-blue: #0099FF;
    --color-blue-600: #0066CC;
    --color-purple-400: #B366FF;
    --color-purple: #9932CC;
    --color-green: #89D185;
    --color-green-600: #16825D;
    --color-yellow: #FFCC00;
    --color-orange: #CC6633;

    --color-primary: var(--color-gray-600);
    --color-secondary: var(--color-gray-800);
    --color-ternary: var(--color-gray-700);

    --padding-main-topbar: 12px;

    --height-main-topbar: 36px;
    --height-main-bottombar: 200px;
    --height-main-statusbar: 25px;

    --width-main-sidebar: 250px;

    --border-size: 1px;

    --default-border: var(--border-size) solid var(--color-gray-475);
}

body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333333;
}

button {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    display: block;
}

.hidden {
    display: none !important;
}

.no-pointer-events {
    pointer-events: none;
}

.scrollable {
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-corner {
        background: var(--color-primary);
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-400);
        border-left: 1px solid var(--color-primary);
        border-right: 1px solid var(--color-primary);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--color-gray-300);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--color-primary);
    }
    &::-webkit-resizer {
        appearance: none;
    }
}

:focus-visible {
    outline: none;
}

.main-topbar__container {
    top: env(titlebar-area-y, 0);
    height: var(--height-main-topbar);
    width: 100%;

    display: flex;
    position: absolute;

    .main-topbar {
        height: 100%;
        width: env(titlebar-area-width, 100%);
        left: env(titlebar-area-x, 0);

        font-size: 12px;
        font-weight: 500;
        text-align: center;

        color: var(--color-base);
        background-color: var(--color-gray);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        -webkit-app-region: drag;
        -webkit-user-select: none;
        app-region: drag;
        user-select: none;

        .button {
            margin: auto 0;
            padding: 3px 6px;
            display: flex;
            align-items: center;

            font-size: 11px;
            color: var(--color-base);
            background-color: transparent;
            border: 0;
            border-radius: 5px;

            app-region: no-drag;
            -webkit-app-region: no-drag;

            &:hover {
                background: var(--color-gray-450);
            }
        }

        .icon {
            display: block;
            height: 16px;
            width: 16px;

            background: var(--color-base);
            mask-size: cover;

            pointer-events: all;
        }

        .titlebar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            -webkit-user-select: none;
            user-select: none;
        }

        .left-toolbar,
        .right-toolbar {
            display: flex;
            flex-direction: row;
            z-index: 1;
        }

        #application-menu-button {
            margin-right: 2px;

            &:hover {
                background: unset;
            }

            .application-logo {
                height: 24px;
                width: 24px;
            }
        }
    }
}

.main-content__container {
    position: absolute;
    top: var(--height-main-topbar);
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    .main-toolbar {
        color: var(--color-base);
        background-color: var(--color-gray-475);

        display: flex;
        flex-direction: column;

        -webkit-app-region: drag;
        -webkit-user-select: none;
        app-region: drag;
        user-select: none;

        border-left: 1px solid transparent;
        border-right: var(--border-size) solid var(--color-primary);

        fieldset {
            display: flex;
            align-items: stretch;

            margin: 0;
            padding: 0;
            border: 0;

            label {
                position: relative;
            }
        }

        .button {
            padding: 6px 8px;

            display: flex;
            align-items: center;

            border: 0;
            background-color: transparent;

            app-region: no-drag;
            -webkit-app-region: no-drag;

            &:hover {
                background: var(--color-gray-450);
            }
        }

        [type="radio"] {
            display: none;

            + label:hover::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                bottom: 0;
                width: 4px;
                height: 10px;
                transform: translate(-50%, -50%);
                background-color: var(--color-gray-300);
            }

            &:checked + label::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                bottom: 0;
                width: 4px;
                height: 10px;
                transform: translate(-50%, -50%);
                background-color: var(--color-blue);
            }
        }

        .icon {
            display: block;
            height: 18px;
            width: 18px;
            transform: scale(0.8);

            background: var(--color-base);
            mask-size: cover;

            pointer-events: all;
        }

        .spacer {
            flex: 1;
        }
    }

    .main-content {
        flex: 1;

        display: flex;
        flex-direction: row;

        overflow-y: hidden;

        .main-panel {
            flex: 1;

            display: flex;
            box-sizing: border-box;
            flex-direction: column;

            border-left: var(--default-border);
            border-right: var(--default-border);

            .main-frame {
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: start;

                .main-canvas__titlebar {
                    padding: 4px 6px;
                    margin-bottom: -1px;

                    display: flex;
                    align-items: center;

                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px;
                    background-color: var(--color-primary);
                    color: var(--color-base);

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    -webkit-user-select: none;
                    user-select: none;

                    .icon {
                        margin-right: 4px;
                        height: 12px;
                        width: 12px;

                        background: var(--color-base);
                        mask-size: cover;

                        pointer-events: none;
                    }
                }

                .main-canvas__container {
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;

                    /* background: repeating-conic-gradient(var(--color-gray-600) 0% 25%, var(--color-gray) 0% 50%) 0% / 20px 20px; */
                    background-color: var(--color-gray-200);

                    overflow: hidden;
                    /* resize: both; */

                    .row {
                        display: flex;
                        flex: 1;

                        .corner {
                            height: 20px;
                            width: 20px;
                            background-color: var(--color-gray-700);
                            z-index: 9999;
                        }

                        .top-ruler {
                            flex-shrink: 0;
                            height: 20px;
                            z-index: 9999;
                        }

                        .left-ruler {
                            flex-shrink: 0;
                            width: 20px;
                            z-index: 9999;
                        }

                        .main-container {
                            flex: 1;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;

                            .main-canvas__overlay {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }

                            .main-iframe {
                                position: absolute;
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;

                                -webkit-user-select: none;
                                user-select: none;

                                /* Make sure the overlay on its own layer */
                                backface-visibility: hidden;
                                will-change: transform;
                                isolation: isolate;
                                -webkit-font-smoothing: subpixel-antialiased;
                            }
                        }
                    }
                }
            }

            .main-bottombar {
                max-height: var(--height-main-bottombar);
                border-top: var(--default-border);
            }
        }

        .main-sidebar__left,
        .main-sidebar__right {
            width: var(--width-main-sidebar);

            display: flex;
            flex-direction: column;

            overflow: hidden;
        }

        .main-sidebar__right {
            border-right: 1px solid transparent;
        }

        .main-sidebar__panel,
        .main-bottombar__panel {
            position: relative;
            display: flex;
            flex-direction: column;

            overflow: hidden;

            &.selected > .header::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                bottom: 0;
                width: 4px;
                height: 10px;
                transform: translate(-50%, -50%);
                background-color: var(--color-blue);
            }

            &.expanded {
                flex: 1;
            }

            > .header {
                position: sticky;
                top: 0;

                box-sizing: border-box;
                height: 30px;
                width: 100%;
                padding: 8px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                font-size: 9px;
                font-weight: 600;
                text-transform: uppercase;

                color: var(--color-base);
                background: transparent;
                border: 0;

                -webkit-user-select: none;
                user-select: none;

                z-index: 1;

                &:focus-visible {
                    background: none !important;
                }

                &:hover {
                    background: var(--color-gray-700) !important;
                }

                &.expanded {
                    .icon-chevron-down {
                        transform: rotate(0deg);
                    }
                }

                .title {
                    pointer-events: none;
                }

                .icon {
                    margin-right: -2px;
                    height: 16px;
                    width: 16px;

                    background: var(--color-base);
                    mask-size: cover;

                    pointer-events: none;
                }

                .icon-chevron-down {
                    transform: rotate(-180deg);
                }
            }

            &:not(:first-child) > .header {
                border-top: var(--default-border);
            }

            > .content__container {
                padding: 8px;
                display: none;

                font-size: 11px;
                font-weight: 400;

                -webkit-user-select: none;
                user-select: none;

                &.expanded {
                    height: fit-content;

                    display: flex;
                    flex-direction: column;
                    flex-basis: fit-content;
                }

                .placeholder {
                    color: var(--color-gray-300);
                }

                .panel__section {
                    &:not(:first-of-type) {
                        margin-top: 20px;
                    }

                    > .header {
                        position: relative;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 8px;

                        font-size: 9px;
                        font-weight: 700;
                        text-transform: uppercase;

                        color: var(--color-gray-300);

                        -webkit-user-select: none;
                        user-select: none;
                    }
                }
            }

            &.scrollable {
                overflow-x: hidden;
            }
        }
    }

    .main-statusbar {
        box-sizing: border-box;
        height: var(--height-main-statusbar);
        padding: 0 8px;
        padding-bottom: 2px;

        display: flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-base);
        font-size: 10px;
        font-weight: 400;
        background-color: var(--color-gray);

        overflow: hidden;

        -webkit-user-select: none;
        user-select: none;

        &.preview {
            background-color: var(--color-orange);
        }
    }

    .panel__search-container {
        position: sticky;
        box-sizing: border-box;
        top: -8px;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: -8px;
        margin-bottom: -4px;
        background: var(--color-primary);

        .panel__search {
            width: 100%;
            font-size: 11px;
        }
    }

    input,
    select,
    textarea {
        font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 11px;
        font-weight: 400;

        &::selection {
            background-color: var(--color-blue);
            color: var(--color-base);
        }

        &:focus {
            outline: var(--border-size) solid var(--color-blue) !important;
            z-index: 1;
        }

        &:focus-visible {
            background: var(--color-gray-475) !important;
        }
    }

    input {
        box-sizing: border-box;
        height: 22px;
        padding: 3px 4px;

        color-scheme: dark;
        appearance: none;
        color: var(--color-base);
        background: var(--color-gray-475);
        border: var(--border-size) solid var(--color-gray-400);

        font-size: 10px;
        font-weight: 400;
        text-align: left;
    }

    input[type='checkbox'] {
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        padding: 0;

        appearance: none;
        outline: none;

        &:checked {
            background-color: var(--color-blue);
            background-size: cover;
            padding: 2px;
        }

        &:not(:disabled):checked {
            border-color: var(--color-blue);
            background-image: url('../../res/icons/check.svg');
        }

        &:disabled {
            background-color: var(--color-gray);

            &:checked {
                background-image: url('../../res/icons/check.svg');
            }
        }

        &:focus-visible {
            outline: 2px solid var(--color-gray-400);
        }

        /* @media (hover: hover) {
            &:not(:disabled):hover {
              outline: 2px solid var(--color-gray-400);
            }
        } */
    }

    input[type='radio'] {
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        padding: 0;

        appearance: none;
        background-color: var(--color-gray);
        border: var(--default-border);
        outline: none;
        border-radius: 50%;

        &:checked {
            border-width: 4px;
            background-color: var(--color-blue);
        }

        &:focus-visible {
            outline: 2px solid var(--color-gray-400);
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    input:-internal-autofill-selected {
        /* FIXME: this hackaround does not work after re-rendering */
        /* transition: background-color 0s 600000s, color 0s 600000s !important; */
        /* The styling below is just not work at all */
        background-color: var(--color-gray) !important;
        color: var(--color-base) !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    [list]::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    select {
        height: 22px;
        padding: 3px 4px;

        color: var(--color-base);
        background: var(--color-gray-475);
        border: var(--border-size) solid var(--color-gray-400);
        text-align: left;

        appearance: none;
    }

    textarea {
        box-sizing: border-box;
        padding: 3px 4px;

        color: var(--color-base);
        background: var(--color-gray-475);
        border: var(--border-size) solid var(--color-gray-400);
    }
}

#context-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    .context-menu {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        padding: 3px;
        max-height: calc(100vh - 37px - 1px);

        display: flex;
        flex-direction: column;

        font-size: 11px;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: var(--color-primary);
        border: var(--border-size) solid var(--color-gray-475);

        white-space: nowrap;

        -webkit-user-select: none;
        user-select: none;

        &:not(.no-drag) {
            padding-top: 0;

            &::before {
                content: '';
                position: sticky;
                top: 4px;
                left: 0;
                right: 0;
                width: 20px;
                margin: 4px auto;
                border: 1px solid var(--color-gray-400);
            }
        }

        .spacer {
            height: 1px;
            margin: 4px 0;
            background-color: var(--color-gray-400);
        }

        .group {
            &::after {
                content: '\2BC8';
                font-size: 8px;
                margin-left: auto;
            }
        }

        .item {
            padding: 4px 8px;
            display: flex;
            align-items: center;
            gap: 6px;

            font-weight: 300;
            color: var(--color-base);

            &:hover,
            &:has(.context-menu:not(.hidden)) {
                /* FIXME: the hovered item with child menu opened should not be highlighted
                when its sibling with no child menu got hovered */
                background-color: var(--color-gray);
            }

            .icon {
                display: block;
                height: 12px;
                width: 12px;

                background: var(--color-base);
                mask-size: cover;

                pointer-events: none;
            }

            .key {
                flex: 1;
                margin-left: 40px;
                text-align: end;
            }
        }
    }
}

/* Icons */
.icon-unwebber { mask: url('../../res/icons/unwebber.svg'); }
.icon-box { mask: url('../../res/icons/box.svg'); }
.icon-check { mask: url('../../res/icons/check.svg'); }
.icon-chevron-down { mask: url('../../res/icons/chevron-down.svg'); }
.icon-code { mask: url('../../res/icons/code.svg'); }
.icon-git-branch { mask: url('../../res/icons/git-branch.svg'); }
.icon-monitor { mask: url('../../res/icons/monitor.svg'); }
.icon-mouse-pointer { mask: url('../../res/icons/mouse-pointer.svg'); }
.icon-pen-tool { mask: url('../../res/icons/pen-tool.svg'); }
.icon-play { mask: url('../../res/icons/play.svg'); }
.icon-settings { mask: url('../../res/icons/settings.svg'); }
.icon-save { mask: url('../../res/icons/save.svg'); }
.icon-square { mask: url('../../res/icons/square.svg'); }
.icon-type { mask: url('../../res/icons/type.svg'); }
.icon-cut { mask: url('../../res/icons/scissors.svg'); }
.icon-copy { mask: url('../../res/icons/copy.svg'); }
.icon-paste { mask: url('../../res/icons/clipboard.svg'); }
.icon-delete { mask: url('../../res/icons/trash.svg'); }
.icon-edit { mask: url('../../res/icons/edit-2.svg'); }
.icon-maximize { mask: url('../../res/icons/maximize-2.svg'); }
.icon-minimize { mask: url('../../res/icons/minimize-2.svg'); }
.icon-plus { mask: url('../../res/icons/plus.svg'); }
.icon-minus { mask: url('../../res/icons/minus.svg'); }
.icon-eye { mask: url('../../res/icons/eye.svg'); }
.icon-eye-off { mask: url('../../res/icons/eye-off.svg'); }
.icon-dot { mask: url('../../res/icons/dot.svg'); }
.icon-blank { background: none !important; }