@font-face {
    font-family: 'Inter';
    src: url('../../res/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
    --color-base: #FFFFFF;
    --color-gray: #333333;
    --color-light-gray: #555555;
    --color-lighter-gray: #999999;
    --color-blue: #0099ff;
    --color-light-blue: #66ccff;
    --color-dark-blue: #0066cc;
    --color-green: #89d185;
    --color-dark-green: #16825d;
    --color-yellow: #FFCC00;
    --color-orange: #CC6633;

    --color-primary: #252525;
    --color-secondary: #111111;
    --color-ternary: #1C1C1C;

    --padding-main-topbar: 12px;

    --height-main-topbar: 36px;
    --height-main-bottombar: 200px;
    --height-main-statusbar: 25px;

    --width-main-sidebar: 250px;

    --border-size: 1px;

    --default-border: var(--border-size) solid var(--color-light-gray);
}

body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);
}

button {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    display: block;
}

.hidden {
    display: none !important;
}

.scrollable {
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-corner {
        background: var(--color-primary);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-light-gray);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--color-lighter-gray);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--color-primary);
    }
}

.main-topbar__container {
    top: env(titlebar-area-y, 0);
    height: var(--height-main-topbar);
    width: 100%;

    display: flex;
    position: absolute;

    border-bottom: var(--default-border);

    .main-topbar {
        height: 100%;
        width: env(titlebar-area-width, 100%);
        left: env(titlebar-area-x, 0);

        font-size: 12px;
        font-weight: 500;
        text-align: center;

        color: var(--color-base);
        background-color: var(--color-primary);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        -webkit-app-region: drag;
        -webkit-user-select: none;
        app-region: drag;
        user-select: none;

        fieldset {
            display: flex;
            align-items: stretch;

            margin: 0;
            padding: 0;
            border: 0;
        }

        .button {
            padding: 0 var(--padding-main-topbar);

            display: flex;
            align-items: center;

            border: 0;
            background-color: transparent;

            app-region: no-drag;
            -webkit-app-region: no-drag;

            &:hover {
                background: var(--color-gray);
            }
        }

        [type="radio"] {
            display: none;

            &:checked + label {
                margin: 5px 0;
                border-radius: 20px;
                background: linear-gradient(135deg, var(--color-blue), var(--color-dark-blue));

                &:hover {
                    background: var(--color-blue);
                }
            }
        }

        .icon {
            display: block;
            height: 16px;
            width: 16px;

            background: var(--color-base);
            mask-size: cover;

            pointer-events: all;
        }

        .titlebar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            pointer-events: none;
        }

        .left-toolbar,
        .right-toolbar {
            display: flex;
            flex-direction: row;
        }

        #application-menu-button .application-logo {
            height: 24px;
            width: 24px;
        }
    }
}

.main-content__container {
    position: absolute;
    top: calc(var(--height-main-topbar) + var(--border-size));
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    .main-content {
        flex: 1;

        display: flex;
        flex-direction: row;

        overflow-y: hidden;

        .main-panel {
            padding: 10px;

            flex: 1;

            display: flex;
            box-sizing: border-box;
            flex-direction: column;

            background: var(--color-secondary);

            .main-frame {
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: start;

                .main-canvas__titlebar {
                    padding: 2px 6px;
                    margin-bottom: -1px;

                    display: flex;
                    align-items: center;

                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px;
                    background-color: var(--color-primary);
                    border: var(--default-border);
                    color: var(--color-base);

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    -webkit-user-select: none;
                    user-select: none;

                    .icon {
                        margin-right: 4px;
                        height: 12px;
                        width: 12px;

                        background: var(--color-base);
                        mask-size: cover;

                        pointer-events: none;
                    }
                }

                .main-canvas__container {
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;

                    background-color: var(--color-primary);
                    border: var(--default-border);

                    overflow: hidden;
                    resize: both;

                    .top-ruler {
                        flex-shrink: 0;
                        height: 20px;
                        margin-left: 20px;
                    }

                    .row {
                        display: flex;
                        flex: 1;

                        .left-ruler {
                            flex-shrink: 0;
                            width: 20px;
                            background-color: var(--color-primary);
                        }

                        .container {
                            flex: 1;

                            position: relative;
                            display: flex;

                            background-color: var(--color-base);

                            .main-canvas__overlay {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }

                            .main-canvas {
                                width: 100%;
                                height: 100%;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }

            .main-bottombar {
                max-height: var(--height-main-bottombar);
                border-top: var(--default-border);
            }
        }

        .main-sidebar__left,
        .main-sidebar__right {
            width: var(--width-main-sidebar);

            display: flex;
            flex-direction: column;

            background-color: var(--color-primary);

            overflow: hidden;
        }

        .main-sidebar__left {
            border-right: var(--default-border);
            border-left: 1px solid var(--color-primary);
        }

        .main-sidebar__right {
            border-left: var(--default-border);
            border-right: 1px solid var(--color-primary);
        }

        .main-sidebar__panel,
        .main-bottombar__panel {
            position: relative;
            display: flex;
            flex-direction: column;

            overflow: hidden;

            &:active,
            &:focus,
            &:focus-within {
                > .header::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    bottom: 0;
                    width: 4px;
                    height: 10px;
                    transform: translate(-50%, -50%);
                    background-color: var(--color-blue);
                }
            }

            &.expanded {
                flex: 1;
            }

            > .header {
                position: sticky;
                top: 0;

                box-sizing: border-box;
                height: 30px;
                width: 100%;
                padding: 8px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                font-size: 9px;
                font-weight: 600;
                text-transform: uppercase;

                color: var(--color-base);
                background-color: var(--color-primary);
                border: 0;

                -webkit-user-select: none;
                user-select: none;

                z-index: 1;

                &:hover {
                    background-color: var(--color-gray);
                }

                &.expanded {
                    .icon-chevron-down {
                        transform: rotate(0deg);
                    }
                }

                .icon {
                    margin-right: -2px;
                    height: 16px;
                    width: 16px;

                    background: var(--color-base);
                    mask-size: cover;

                    pointer-events: none;
                }

                .icon-chevron-down {
                    transform: rotate(-180deg);
                }
            }

            &:not(:first-child) > .header {
                border-top: var(--default-border);
            }

            > .content__container {
                padding: 8px;

                display: none;

                font-size: 11px;
                font-weight: 400;

                color: var(--color-base);
                background-color: var(--color-primary);

                -webkit-user-select: none;
                user-select: none;

                &.expanded {
                    flex: 1;

                    height: fit-content;

                    display: flex;
                    flex-direction: column;
                    flex-basis: fit-content;

                    /* border-top: var(--default-border); */
                }

                .placeholder {
                    color: #999999;
                }

                .panel__section {
                    &:not(:first-of-type) {
                        margin-top: 20px;
                    }

                    > .header {
                        position: relative;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 8px;

                        font-size: 9px;
                        font-weight: 700;
                        text-transform: uppercase;

                        color: #999999;

                        -webkit-user-select: none;
                        user-select: none;
                    }
                }
            }

            &.scrollable {
                overflow-x: hidden;
            }
        }
    }

    .main-statusbar {
        box-sizing: border-box;
        height: var(--height-main-statusbar);
        padding: 0 8px;
        padding-bottom: 2px;

        display: flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-base);
        font-size: 10px;
        font-weight: 400;
        background-color: var(--color-primary);
        border-top: var(--default-border);

        overflow: hidden;

        -webkit-user-select: none;
        user-select: none;

        &.preview {
            background-color: var(--color-orange);
        }
    }

    input,
    select {
        &::selection {
            background-color: var(--color-blue);
            color: var(--color-base);
        }

        &:focus {
            outline: 1px solid var(--color-blue);
        }
    }

    input {
        box-sizing: border-box;
        height: 22px;
        padding: 3px 6px;

        color-scheme: dark;
        appearance: none;
        color: var(--color-base);
        background: var(--color-gray);
        border: var(--default-border);
        border-radius: 4px;

        font-size: 10px;
        font-weight: 400;
        text-align: left;
    }

    input[type='checkbox'] {
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        padding: 0;

        appearance: none;
        background-color: var(--color-gray);
        border: var(--default-border);
        outline: none;

        &:checked {
            background-color: var(--color-blue);
            background-size: cover;
            padding: 2px;
        }

        &:not(:disabled):checked {
            border-color: var(--color-blue);
            background-image: url('../../res/icons/check.svg');
        }

        &:disabled {
            background-color: var(--color-gray);

            &:checked {
                background-image: url('../../res/icons/check.svg');
            }
        }

        &:focus-visible {
            outline: 2px solid var(--color-light-gray);
        }

        /* @media (hover: hover) {
            &:not(:disabled):hover {
              outline: 2px solid var(--color-light-gray);
            }
        } */
    }

    input[type='radio'] {
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        padding: 0;

        appearance: none;
        background-color: var(--color-gray);
        border: var(--default-border);
        outline: none;
        border-radius: 50%;

        &:checked {
            border-width: 4px;
            background-color: var(--color-blue);
        }

        &:focus-visible {
            outline: 2px solid var(--color-light-gray);
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    input:-internal-autofill-selected {
        /* FIXME: this hackaround does not work after re-rendering */
        /* transition: background-color 0s 600000s, color 0s 600000s !important; */
        /* The styling below is just not work at all */
        background-color: var(--color-gray) !important;
        color: var(--color-base) !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    [list]::-webkit-calendar-picker-indicator {
        display: none !important;
    }

    select {
        height: 22px;
        padding: 3px 6px;

        color: var(--color-base);
        background: var(--color-gray);
        border: var(--default-border);
        border-radius: 4px;

        font-size: 11px;
        font-weight: 400;
        text-align: left;

        appearance: none;
    }
}

/* Icons */
.icon-unwebber { mask: url('../../res/icons/unwebber.svg'); }
.icon-box { mask: url('../../res/icons/box.svg'); }
.icon-check { mask: url('../../res/icons/check.svg'); }
.icon-chevron-down { mask: url('../../res/icons/chevron-down.svg'); }
.icon-code { mask: url('../../res/icons/code.svg'); }
.icon-git-branch { mask: url('../../res/icons/git-branch.svg'); }
.icon-monitor { mask: url('../../res/icons/monitor.svg'); }
.icon-mouse-pointer { mask: url('../../res/icons/mouse-pointer.svg'); }
.icon-play { mask: url('../../res/icons/play.svg'); }
.icon-settings { mask: url('../../res/icons/settings.svg'); }
.icon-save { mask: url('../../res/icons/save.svg'); }
.icon-square { mask: url('../../res/icons/square.svg'); }
.icon-type { mask: url('../../res/icons/type.svg'); }